.addToCart{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
    color: whitesmoke;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    // remove default button styling
    border: none;
    margin-top:10px;
    margin-bottom: 30px;
    background-color: #003150;
}
.addToCart:hover{
    background-color: #004972;
    cursor: pointer;
}
